html, body {
  margin: 0;
  padding: 0;

 background: rgb(255,255,255);
 background: linear-gradient(180deg, rgba(255,255,255,1) 17%, rgba(236,236,236,1) 100%);
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

.container { 
  height: 100vh;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
}

.vat-comp-wrapper, .row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}

.vat-id-container, .vat-returned-container {
  border-radius: 10px;
  box-shadow: 0px 18px 42px -24px rgba(0,0,0,0.42);

  background-color: #fff;
} 

.vat-id-container > legend, .vat-returned-container > legend {
  width: auto; 
  padding: 0 20px; 
  border-bottom: none;
}

.vat-id-container > label {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}